* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
}
.bgcolor {
  background-color: rgb(203, 177, 245);
  min-height: 300px;
}

.logo-menu {
    width: 80%;
    height: auto;
    float: left;
    margin-top: -8px;
}
.img1 {
  height: 200px;
}
.eile2 {
  margin-bottom: 10px;
}
.reklama {
  background-color: rgb(196, 190, 156);
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding1 {
  padding-right: 10%;
}
.marginreklama {
  margin-bottom: 25px;
}
.magrinreklamarow {
  margin-left: 0;
  margin-right: 0;
}
.imgft {
  width: 40%;
  padding-top: 20px;
  float: right;
  padding-right: 5px;
}
.logofooter {
  width: 10%;
  float: left;
}
.logoname {
  width: 85%;
  float: right;
  padding-top: 19px;
  padding-bottom: 56px;
}
.bgcolor2 {
  background-color: rgb(203, 177, 245);
  min-height: 150px;
}




/*------------------------------------------------------------*/
                        /*---css index.html---*/
/*------------------------------------------------------------*/


 header {
     height: 120px;
     border: 1px solid black;
     margin-bottom: 15px;
 }
 
 nav {
     float: left;
     width: 80%;
     height: 120px;
     line-height: 120px;
 }
 
 
 
 .menu-navigation {
     margin: 35px 10px 30px 10px;
     width: 20%;
 }
 
 .logo-menu {
     width: 80%;
     height: auto;
     float: left;
 }
 
 .menu-img{
     width: 20%;
 }
 
 .muscle {
     float: right;
     height: 100%;
     width: auto;
 }
 
 .ne-mano-reklama {
     min-height: 300px;
 }
 
 .article {
     background-color: #e2e0de;
     padding: 0 10px;
     /*margin-top: 15px;*/
 }
 
 
 
 .advert {
     margin-top: 15px;
     margin-bottom: 15px;
     background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../asset/reklamos-paveikslas.jpeg) no-repeat center center scroll;
     height: 400px;
     /*text-align: center;*/
     /*line-height: 400px;*/
     position: relative;
     
 }
 
 .pirk-mygtukas {
     width: 15%;
     
 } 

 .ads-button {
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
     left: 50%;
 }