* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
}
.bgcolor {
  background-color: rgb(203, 177, 245);
  min-height: 300px;
}
/*.img1 {
  width: 20%;
}*/
.h2gallary {
  text-align: center;
}
.img1 {
  height: 200px;
}
.eile2 {
  margin-bottom: 10px;
}
.reklama {
  background-color: rgb(196, 190, 156);
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding1 {
  padding-right: 10%;
}
.marginreklama {
  margin-bottom: 25px;
}
.magrinreklamarow {
  margin-left: 0;
  margin-right: 0;
}
.imgft {
  width: 40%;
  padding-top: 20px;
  float: right;
  padding-right: 5px;
}
.logofooter {
  width: 10%;
  float: left;
}
.logoname {
  width: 85%;
  float: right;
  padding-top: 19px;
  padding-bottom: 56px;
}
.bgcolor2 {
  background-color: rgb(203, 177, 245);
  min-height: 150px;
}
