h1 {
    font-size: 80px;
    background-color: white;
    margin-top: auto;
    text-align: center;
    text-decoration: overline underline;
    padding: 50px;
    text-shadow: 1px 1px;
    text-overflow
    
}

section {
    background-color: coral;
    border: 1px solid #666;
    border: 0, 0, 7px, 0;
    width: 30.5%;
    float: left;
    margin-left: 2%;
    position: relative;
    transform: rotate(0deg);
    transition: transform 5s;
}
section:hover {
    transform:scaleY(50px);
    
    
}
.section-3 {
    margin-right: 2%
}

p {
    padding: 40px;
}
.first-title {
    background-color: azure;

}

.second-title {
    background-color: greenyellow;
}

.section-3 h2 {
    background-color: dodgerblue;
}
section h2 {
    width: 100px;
/*    absolute naudojama kartu su relative.*/
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    border: 1px solid blue;
    text-align: center;
}