h1{
  color: black;
  font-size: 20px;
}

p {
  padding-left: 20px;
}

.letena-ikona {
  color: red;
  font-size: 120px;
}
.container {
  color: #3c3c3c;
  padding-top: 30px;
}
.test {
  background-color: #E6E6E6;
  min-height: 300px;
}

.red {
  background-color: #e04c3e;
}

.aukstis-nav {
  min-height: 900px;
}
.orange {
  background-color: #f7a607;
}

.border {
  border: 2px solid red;
}

header {
  min-height: 170px;
  background-color: #df898d;

}
.aukstis {
  min-height: 405px;
}
/* aukstis ne 400px nes prisideda border storis */
.auktis-st {
  min-height: 900px;
}

.aukstis-200 {
  height: 200px;
}

.purple {
  background-color: #7e206f;
}


.yellow {
  background-color: #e4d338;
}

.green {
  background-color: #597144;
}
.nav {
  background-color: #bfe86a;
  min-height: 900px;
  float: right;

}


.colapse {
  background-color: #e3bad1;
  min-height: 900px;
}
h2 {
  color: #f5fae6;
  margin-left: 20px;
  font-size: 20px;
}
