.thumb-up {
  color: green;
  font-size: 50px;
}

.container, .container-fluid {
  background-color: #EAEAEA;
}

.test {
  background-color: #E6E6E6;
  min-height: 300px;
}
.red {
    background-color: #ffb;
}
.orange {
    background-color: #ffd;
}

.border {
  border: 2px solid red;
}

.height {
  min-height: 400px;
}

.height-2 {
  min-height: 200px;
}
