

.dydis {
    height: 200px;
    
}

.zaliux {
    z-index: -1;
    position: absolute;
    left: 20%;
    bottom: 15%;
}

body {
    color: white;
}

.maziau {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 40%;
    top: -50%
}

.logo {
    height: 50px;
    width: 60px;
    position: absolute;
    left: 50%;
    transform: translate(-50%; -50%)
    
}   

header {
    background-color: #6ea816;
    
}

li {
    font-size: 15px;
    display: inline;
    margin-left: 60px;
    line-height: 48px;
    font-weight: 700;
    
    
}

li:hover {
    color: coral;
}

