* {
  box-sizing: border-box;
}

.header {
  background-color: #FDDA00;
  height: 100px;
}

.middle {
  background-color: #FDDA00;
  height: 500px;
  outline: 8px solid white;
}

.footer {
  background-color: #FDDA00;
  height: 100px;
  outline: 8px solid white;
}
