* {
  box-sizing: border-box;
}

.height {
  height: 600px;
}

.nav {
  background-color: #D5E8D4;
}

.header {
  height: 100px;
  background-color: #9BCE0B;
}

.height-2 {
  height: 400px;
  background-color: rgb(255, 255, 255);
}
