body {
    background: url(pexels-photo-366429.jpeg) no-repeat left fixed;
    -webkit-background-size: left;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    /*
        
  font-family: 'Noto Sans', sans-serif;
  color: dimgray;
    }
        */
}
/*REDAGUOJAM HEADER***********************START********************/
header .container {
   
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    
    
    
}
#logo {
    filter: invert(100%);
    width: 60%;
}

li {
    font-size: 15px;
    display: inline;
    margin-left: 60px;
    line-height: 66px;
    text-transform: uppercase
}
li:hover {
    color:coral;
}

i:hover {
    color:coral;
}

.ikoneles {
    font-size: 24px;
    word-spacing: 20px;
    float: right;
    line-height: 66px;
}


/*REDAGUOJAM HEADER**********************END*********************/


#wrapper {
    margin-top:12%;
    color: white;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-top:5%;
}

h4 {
    text-align: center;
    margin-top:5%;
}

.floatright{
    float: right;
}

button {
    margin-top:6%;
    font-size: 21px;
    height: 50px;
    width: 40%;
    background-color: transparent;
    border: solid white 2px;
}

button:hover {
    background-color: white;
    color: black;
}

footer {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 12%;
    
}

a:visited { 
    color: white;
}

#down {
    height: 1500px;
}








