.green {
  background-color: green
}
.aukstis {
  height: 100px;
}
.aukstis2 {
  height: 200px;
}
.border {
border: solid 1px;
}
.aukstis3 {
  height: 300px
}
header {
  margin-bottom: 15px;
}
.mar {
margin-top: 7px;

}
.pad {
  padding-top: 3px;

}
.pad1 {
  padding-top: 3px;
}
