/* remelius iskaiciuos i plocio skaiciavima */

* {
  box-sizing: border-box;
  /*padding: 0;
  margin: 0;*/
}
a {
  color: #000;
  text-decoration: none;
}
h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 20px #000;
}
h1, h2, h3, h4 {
     font-family: 'Abril Fatface', cursive;
}

 body {
   width: 1024px;
   margin-left: auto;
   margin-right: auto;

   background-color: #e2e2e2;
 }

/* ==========HEASDER=========*/
header {
  background-color: #f68 ;
  height: 50px;
}
nav {
  width: 66%;
  /*background-color: #fff;*/
  line-height: 51px;
  float: left;
}
 nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  width: 24.5%;
  text-align: center;
}
#search {
  width: 34%;
  float: right;
}
form {
  float: right;
  padding-right: 30px;
  padding-top: 15px;
  /* arba */
  /*padding: 0 0 0 0;*/
  /* arba */
  /*padding: 0 0;*/
}
.search-box {
  width: 240px;
  height: 26px;
}
#search  button {
  background-color: #000;
  color: #fff;
  padding: 5 20px;
  border: none;
}
/*======END header==========*/
#wrapper {
  background-color: #fff;
  min-height: 300px;
  overflow: hidden;
  width: 100%;
}
section {
  width: 70%;
  border: solid 1px #000;
  min-height: 300px;
  float: left;
}
aside {
  width: 30%;
  background-color: #fa9;
  float: right;
  height: 100%;

  padding-bottom: 100%;
  margin-bottom: -100%;
}
li a {
  text-transform: uppercase;
}
nav li {
  display: inline-block;
}
footer {
  height: 60px;
  background-color: #ed3;
}


/*  ====naudingos funkcijos=====*/
.clear-float {
  clear: both;
}
.text-center {
  text-align: center;
}


a
