.header-height {
    min-height: 150px;
    background-color: orange;
    margin: 10px 0;
}

.navi{
    min-height: 550px;
    background-color: green;
    /*margin-right: 10px;*/
}

.arti {
    height: 550px;
    background-color: palegoldenrod;
    /*margin-right: 10px;*/
    margin: 0;
}

.asi {
    min-height: 550px;
    background-color: olive;    
}

.navigac {
    min-height: 900px;
    background-color: green;
}

.artic {
    height: 600px;
    background-color: palegoldenrod;
}

.padding {
    margin: 10px;   
    padding: 10px;
}