.container, .container-fluid {
    background-color: azure;
    
}

.brown {
    background-color: rosybrown;
    
}

.colar {
    background-color:coral;

    
}

.green {
    background-color: greenyellow;
}

.orange {
    background-color: orange;
    
}

.white {
    background-color: lightyellow;
}

div {
    font-size: 30px;
}

.aukstis900 {
    min-height: 900px;
}

.aukstis600 {
    min-height: 600px;
}

.aukstis400 {
    min-height: 400px;
}

.aukstis200 {
    min-height: 200px;
}

.aukstis100 {
    min-height: 100px;
}

.border {
    border: solid;
}


