html {
    width: 80%;
    margin: 0 auto;
    background-color: #c6c1ca;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0 0 20px grey;
    color: #fff;
}

nav {
    background-color: #c541aa;
    height: 50px;
}

header {
    margin-bottom: 10px;
}

nav ul {
    margin: 0;
}

p,
a {
    font-family: 'Antic Slab', serif;
}

nav li {
    float: left;
    /*display: inline-block;*/
    height: inherit;
    line-height: 50px;
    margin: 0 20px 0 20px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

nav a:hover {
    color: #fff;
}

.search {
    /*height: 50px;*/
    line-height: 50px;
    float: right;
    margin-right: 20px;
}

.searchbar {
    margin-right: 20px;
    height: 30px;
    width: 250px;
}

.search-button {
    width: 70px;
    border: none;
    height: 30px;
    color: #fff;
    background-color: #000000;
    transition: 0.3s;
    outline: none;
}

.search-button:hover {
    color: #c0c0c0;
    background-color: #436ba7;
    border-color: #436ba7;
    outline: none;
}

.search-button:active {
    color: #c0c0c0;
    background-color: #2843c1;
    outline: none;
    transition: 0s;
}

.wrapper {
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    margin-right: 0;
}

article {
    width: 74.5%;
    margin: 0 0 0 0;
    display: inline-block;
    background-color: #ffffff;
}

aside {
    width: 24.5%;
    background-color: #c541aa;
    margin-left: 1%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

aside h2 {
    text-align: center;
}

aside li {
    margin-bottom: 20px;
}

aside a {
    color: #000;
}

aside a:active {
    color: #fff;
}

footer {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}

footer p {
    margin: 0 0 0 15px;
}

.article-head {
    text-align: center;
}

article>p,
article>h3 {
    margin-left: 15px;
}

.header {
    font-family: 'Anton', sans-serif;
    font-weight: 200;
}