html {
    width: 80%;
    margin: 0 auto;
    background-color: #c6c1ca;
}

* {
    box-sizing: border-box; 
}

h1{
    text-align: center;
}

nav{
    background-color: #c541aa;
    height: 50px;
}

header{
    margin-bottom: 10px;
}

nav li{
    float: left;
    height: inherit;
    line-height: 50px;
    margin: 0 20px 0 20px;
    list-style-type: none;

}

nav a{
    text-decoration: none;
    color: #000000; 
}

.search {
    height: inherit;
    line-height: 50px;
    float: right;
    margin-right: 20px;
}

.wrapper {
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    margin-right: 0;
}

article {
    width: 74.5%;
    margin: 0 0 0 0;
    display: inline-block;
    background-color: #ffffff;
}

aside {
    width: 24.5%;
    background-color: #c541aa;
    margin-left: 1%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

aside h2 {
    text-align: center;
}

footer {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}

footer p{
    margin: 0;
}