/* remelius iskaiciuos i plocio skaiciavima */

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(0, 58, 187);
}
 body {
   width: 1024px;
   margin-left: auto;
   margin-right: auto;

   background-color: #e2e2e2;
 }

/* ==========HEASDER=========*/
header {
  background-color: #f68 ;
  height: 50px;
}
/*======END header==========*/
#wrapper {
  background-color: #fff;
  min-height: 300px;
}
section {
  width: 70%;
  border: solid 1px #000;
  min-height: 300px;
  float: left;
}
aside {
  width: 30%;
  background-color: #fa9;
  float: right;
}
.clear-float {
  clear: both;
}
footer {
  height: 60px;
  background-color: #ed3;
}





a
