h4 {
  color: #000;
}

header {
  margin-bottom: 15px;
}

.container {
  background-color: #93cc47;
  padding: 20px;
}

.aukstis-100 {
  min-height: 50px;
}

.aukstis-200 {
  min-height: 200px;
}

.border {
  border: 4px solid #fff;
}
footer {
  margin-top: 15px;
}
