
.green {
  background-color: green;
  height: 100px;
}
.yellow {
  background-color: yellow;
  float: left;
}
.azure {
  background-color: azure;
}
.reperis {
  height: 500px;

}

.nav{
  height: 500px;
  margin: -100;

}
