* {
  box-sizing: border-box;
}

.height {
  height: 600px;
}

.green {
  height: 100px;
  background-color: #9BCE0B;
}

.beige {
  height: 400px;
  background-color: #F7F5D8;
}

.white {
  height: 400px;
  background-color: white;
}
