body {
    background-color: gainsboro;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
/*HEADERIO NUSTATYMAI**************/

header {
    float: left;
     height: 200px;
    background-color:beige;
    width: 60%;
}

.searchbox {
    float: left;
    height: 200px;
    background-color: teal;
    width: 40%;
}
.clear-float {
  clear: both;

/*HEADERIO NUSTATYMAI******************/





/*žžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžž*/




/*žžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžž*/




/*žžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžž*/




/*žžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžžž*/


h1, h2 {
    font-family: 'Lobster', cursive;
    
}