* {
  box-sizing: border-box;
}

h1 {
  color: red;
}
#headeris {
  background-color: rgb(8, 9, 9);
  height: 70px;
  /*width: 100%;*/
  text-align: right;
  padding: 20px;
}
a {
  color: black;
}
 body {
  background-image: url(../img/backgroun.jpg);
  -webkit-background-size: cover;

}
.spalva1 {
  background-color: #f5c81e;
  border: black;

}
.spalva2 {
  background-color: #ff3250;
  border: black;
}
.spalva3 {
  background-color: #a258c1;
  border: black;
}
footer {
  background-color: rgb(5, 11, 68);
  height: 50px;
  color: white;
  padding: 10px 800px;
}
